@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #F0F2F5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body,
:root {
  background-color: #182525;
  height: 100%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #303B3B;
}

::-webkit-scrollbar-thumb {
  background: #5E6767;
  /* border-radius: 10px; */
}

@layer utilities {
  .navbar-border {
    width: 0%;
    transition: width 0.5s;
  } 
  .navbar:hover {
    cursor: pointer;
  }

  .navbar:hover .navbar-border {
    background-color: #6DF700;
    width: 100%;
  }

  .text-balance {
    text-wrap: balance;
  }
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 88%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}